<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Server=<yourazuresql>.database.windows.net; Database=<database name>; User ID=<user id>; Password=<password>;"/>
    <add key="ReportTable" value="ReportDefinition"/>
    <add key="UserName" value="<your Adobe Omniture user name>"/>
    <add key="Secret" value="<your Adobe Omniture secret>"/>    
  </appSettings>  
</configuration>